POSTGRES_HOST=database
POSTGRES_USER=db_user_example
POSTGRES_PASSWORD=db_password_example
POSTGRES_DB=db_name_example
POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata
JWT_SECRET=jwt_secret_example
JWT_EXPIRES_IN=24h
